body {
    background-color: $black;
}
.header {
    margin: 3rem auto;
    &__title {
        text-align: center;
        font-size: 6rem;
        color: $white;
        @include mq(medium) {
            font-size: 3rem;
        }
    }
}
.main {
    @include flex(space-evenly, $flex-wrap: no-wrap);
    margin: auto;    
    width: 80%;
    @include mq(medium) {
        flex-direction: column;   
    };
    .apple {
        @include flex($flex-direction: column);
        @include mq(medium) {
            margin: 1rem 0;
        }
        &__img {
            width: clamp(300px, 90%, 600px);
            transition: rotate 0.5s ease;
            &:hover {
                cursor: pointer;
            }
            @include mq(small) {
                img {
                    width: 70%;
                    text-align: center;
                }
            }
        }
        &__score-container {
            color: $white;
            font-size: 2rem;
            text-align: center;
            @include mq(medium) {
                font-size: 1.75rem;
            }
            @include mq(small) {
                font-size: 1.5rem;
            }
        }
    }
    .upgrades-container {
        @include flex(center, none, column);
        width: clamp(300px, 50%, 600px);
        @include mq(medium) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        @include mq(small) {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
    }
    .upgrade {
        color: $white;
        &__container {
            margin: 2rem 0;
            @include mq(medium) {
                margin: 1rem auto;
                width: 45%;
            }
            @include mq(small) {
                margin: 1rem auto;
                width: 100%;
            }
        }
        &__title {
            font-size: 3rem;
            text-indent: 3rem;
            @include mq(medium) {
                text-indent: 0;
                text-align: center;
                font-size: 2rem;
            }
            @include mq(small) {
                text-indent: 0;
                text-align: center;
                font-size: 2rem;
            }
        }
        &__div {
            margin: 1rem;
            padding: 1rem;
            width: clamp(300px, 60%, 500px);
            min-height: 30px;
            border-radius: 1rem;
            background-color: $green;
            transition: background-color .5s;
            &:hover {
                cursor: pointer;
                background-color: darken($green, 10%);
            }
            @include mq(medium) {
                width: 85%;
                text-align: center;
            }
            @include mq(small) {
                margin: 1rem auto;
                width: 90%;
                text-align: center;
            }
        }
        &__text {
            color: $black;
            font-size: 1.75rem;
            font-weight: bold;
            @include mq(medium) {
                font-size: 1.5rem;
            }
            @include mq(small) {
                font-size: 1.25rem;
            }
        }
    }
}
