@mixin flex($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    @content;
}
@mixin mq($breakpoint: small) {
    $size: map-get($breakpoints, $breakpoint);
    @if($size) {
        @media (#{$size}) {
            @content;
        }
    }
}